* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f9f9f9;
}

.pre-header {
    background: #111618;
    height: 60px;
    color: #FFF;
}

.pre-header p {
    font-size: 20px;
    margin-top: 10px;
    margin-left: -10em;
}

.pre-header .main-menu {
    list-style: none;
    margin-left: 8em;
}

.pre-header .main-menu li {
    display: inline-block;
    margin-left: 10px;
    margin-top: 15px;
}

.pre-header .main-menu li a {
    color: #707374;
    text-transform: uppercase;
    text-decoration: none;
}

.header {
    margin-top: 2em;
}

.header .container .row .col-md-4 .logo {
    margin-left: -12.2em;
    margin-bottom: 2em;
}

.header .container .row .col-md-8 .main-nav {
    margin-left: 13em;
    margin-top: 0.5em;
}

.header .container .row .col-md-8 li {
    list-style: none;
    display: inline-block;
    margin-left: 10px;
}

.header .container .row .col-md-8 li a {
    text-decoration: none;
    color: #707374;
}

.header .container .row .col-md-8 .quote a {
    background-color: #4f33f1;
    padding: 10px;
    border: 1px solid #4f33f1;
    color: #fff;
    transition: 0.3s;
    clip-path: polygon(50% 0%, 100% 0, 100% 79%, 90% 100%, 0 100%, 0% 60%, 0 0);
}

.header .container .row .col-md-8 .quote a:hover {
    background-color: transparent;
    color: #4f33f1;
}

.hero {
    background: url(images/header-home01-header.jpg);
    height: 600px;
    list-style: none;
}

.hero .container .row .col-md-5 span {
    display: block;
    width: 100px;
    height: 5px;
    background: #fff;
    margin-top: 10em;
}

.hero .container .row .col-md-5 h1 {
    color: #fff;
    font-size: 52px;
}

.hero .container .row .col-md-5 p {
    color: #fff;
    font-size: 25px;
    letter-spacing: -2px;
}

.hero .container .row .col-md-5 .more a {
    background-color: #4f33f1;
    padding: 10px;
    border: 1px solid #4f33f1;
    color: #fff;
    transition: 0.3s;
    text-decoration: none;
    clip-path: polygon(50% 0%, 100% 0, 100% 79%, 90% 100%, 0 100%, 0% 60%, 0 0);
}

.hero .container .row .col-md-5 .more a:hover {
    background-color: transparent;
    color: #4f33f1;
}

.services {
    padding-top: 100px;
    padding-bottom: 100px;
}

.services h3 {
    text-align: center;
    color: #4c007b;
    font-size: 18px;
}

.services h2 {
    text-align: center;
    font-size: 36px;
    color: #343434;
    font-weight: bold;
}

.services p {
    text-align: center;
    color: #b7b8b8;
}

.services .service-item {
    background-color: #1b1f20;
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    text-align: center;
    padding-bottom: 40px;
    color: #fff;
    margin-top: 50px;
    transition: 0.5s ease-in-out;
}

.services .service-item:hover {
    background: #4c007b;
    cursor: pointer;
    margin-top: 30px;
}

.services .container .row .col-md-4 a {
    color: #fff;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 auto;
    display: inline-block;
    border: 2px solid #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
}

.services .container .row .col-md-4 a:hover {
    text-decoration: underline;
}

.security-standards {
    background: url(images/security-standards-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 100px;
}

.security-standards .container .how-it-works {
    text-align: center;
}

.security-standards .container .how-it-works h3 {
    color: #1a77fb;
    text-align: center;
    font-size: 18px;
}

.security-standards .container .how-it-works h2 {
    font-size: 36px;
    color: #fff;
    font-weight: bold;
}


.security-standards .container .how-it-works p {
    color: #fff;
}

.security-standards .container .how-it-works a {
    display: block;
    position: relative;
    bottom: -30px;
}


.customers {
    padding-top: 100px;
    padding-bottom: 100px;
}

.customers h2:before {
    content: "";
    display: inline-block;
    background-color: #315df7;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    position: relative;
    top: -2px;
}

.customers .testimonials {
    background-size: cover;
    background-position: center;
    height: 500px;
    color: #fff;
}

.customers .testimonials p {
    color: #afacac;
    font-weight: bold;
}

.customers .testimonials .testimonial-inner {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    padding: 25px;
    position: relative;
}

.customers .testimonials .testimonial-inner .testimonial-content {
    position: absolute;
    bottom: 20px;
    left: 40px;
}

.customers .testimonials .testimonial-inner .testimonial-content:before {
    content: "";
    background: #fff;
    width: 3px;
    height: 50px;
    position: absolute;
    top: 6px;
    left: -10px;
}

.about-us {
    background-image: url(images/security-standards-bg.jpg);
    background-repeat: no-repeat;
    color: #fff;
    padding-top: 100px;
    padding-bottom: 100px;
}

.about-us img {
    margin-left: 10em;
    width: 600px;
    height: 550px;
    margin-top: -5em;
}

.about-us h3 {
    font-size: 18px;
    border-bottom: 1px dotted #7c7586;
    padding-bottom: 15px;
}

.about-us h3:before {
    content: "";
    display: inline-block;
    background-color: #315df7;
    width: 15px;
    height: 15px;
    margin-right: 10px;
    position: relative;
}

.about-us h2 {
    margin-top: 10px;
    font-weight: bold;
}

.about-us p {
    color: rgb(201, 197, 197);
    font-size: 18px;
}

.about-us ul {
    margin-left: -15px;
}

.school-section {
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
}

.school-section h4 {
    color: #2a66f7;
}

.school-section h2 {
    font-size: 50px;
    font-weight: bold;
}

.school-section p {
    color: rgb(126, 121, 121);
}

.school-section .school-inner {
    background-image: url(images/school-seminar.jpg);
    margin-top: 50px;
}

.school-section .school-inner .school-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    padding: 50px;
    color: #fff;
}

.school-section .school-inner .school-overlay .conference-date span {
    background-color: #2a66f7;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 2px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
}
.school-section .school-inner .school-overlay p {
    color: #fff;
}

.school-section .school-inner .school-overlay .countdown {
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 50px;
    border: 1px solid #fff;
    display: inline-block;
    margin-bottom: 20px;
}

.school-inner .school-overlay h4 {
    font-size: 40px;
    color: #fff;
}

.main-cta-btn {
    background-color: #4f33f1;
    padding: 10px;
    border: 1px solid #4f33f1;
    color: #fff;
    transition: 0.3s;
    text-decoration: none;
    clip-path: polygon(50% 0%, 100% 0, 100% 79%, 90% 100%, 0 100%, 0% 60%, 0 0);
}


.main-cta-btn:hover {
    background-color: #3b12a2;
    color: #fff;
}

.contact {
    background-image: url(images/contact.jpg);
    color: #fff;
    padding-top: 100px;
    padding-bottom: 100px;
    background-size: cover;
}  

.contact .container {
    margin-top: 50px;
}

.contact h2, .contact p {
    text-align: center;
}

.contact .contact-details h3 {
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 20px;
}

.contact .contact-details h5 {
    color: #1448c0;
}

.contact .contact-details h5 {
    border-bottom: 1px dotted #fff;
    border-color: rgba(255, 255, 255, 0.2);
}

.contact .contact-details p {
    text-align: left;
    color: #fff;
}

.contact .contact-details a {
    text-decoration: none;
    color:#fff;
    transition: 0.3s;
}

.contact .contact-details a:hover {
    color: rgba(255, 255, 255, 0.2);
}

.contact form {
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 50px;
}

.contact form textarea, .contact form input, .contact form button {
    width: 100%;
    border: 0;
    outline: none;
    margin-bottom: 15px;
    height: 40px;
}

.contact form textarea {
    height: 80px;
}

#email {
    width: 325px;
}


.contact form button {
    background-color: #1a7dfa;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    bottom: 0;
    width: 325px;
    height: 40px;
    margin-top: 29.4px;
    transition: 0.3s;
    clip-path: polygon(70% 0%, 100% 0, 100% 84%, 98% 100%, 0 100%, 0% 70%, 0 0);
}

.contact form button:hover {
    background-color: #315df7;
}

.contact form label {
    font-weight: bold;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 5px;
}

.plans {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

.plans h4 {
    text-align: center;
    color: #1448c0;
    font-size: 18px;
}

.plans h2 {
    text-align: center;
    font-size: 36px;
    color: #343434;
    font-weight: bold;
}

.plans p {
    text-align: center;
    color: #504f4f;
}

.plans .pricing-plan {
    background-color: #1c2021;
    color: #fff;
    padding: 15px;
    margin-top: 75px;
    transition: 0.3s;
}

.plans .pricing-plan:hover {
    background-color: #3c309d;
    cursor: pointer;
    margin-top: 30px;
}

.plans .pricing-plan p {
    color: rgb(167, 164, 164);
    font-weight: bold;
}

.plans .pricing-plan h4 {
    color: #fff;
}

.plans .pricing-plan a {
    display: inline-block;
    width: 70%;
    padding: 5px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 13px;
    margin-top: 15px;
}


.plans .pricing-plan li {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #fff;
    list-style: none;
}

.plans .pricing-plan .price {
    position: relative;
    border-top: 3px dotted #fff;
    border-bottom: 3px dotted #fff;
    margin-bottom: 20px;
}

.plans .pricing-plan .price .main-num {
    font-size: 60px;
    font-style: italic;
}

.plans .pricing-plan .price .sec-num {
    position: relative;
    top: -30px;
}

.plans .pricing-plan .price .month {
    position: relative;
    left: -25px;
}


.advice {
    background-image: url(images/profits.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 25px;
    text-align: center;
    color: #fff;
}

.advice .container .mini-logo {
    position: relative;
    top: 75px;
}

.advice .container h1 {
    position: relative;
    top: -175px;
}

.advice .container p {
    position: relative;
    top: -175px;
}

.advice .container a {
    position: relative;
    top: -175px;
    border: 2px solid #fff;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    transition: 0.3s;
}

.advice .container a:hover {
    text-decoration: underline;
    background-color: transparent;
}

.pre-footer {
    padding-top: 100px;
    padding-bottom: 100px;
}

.pre-footer .mail {
    list-style: square;
    margin-left: 0;
    text-transform: lowercase;
}

.pre-footer h4 {
    border-bottom: 1px dotted grey;
    color: #343434;
    text-transform: uppercase;
}

.pre-footer h4:before {
    content: "";
    display: inline-block;
    background-color: #315df7;
    width: 10px;
    height: 10px;
    margin-right: 10px;
    position: relative;
    top: -2px;
}

.pre-footer .nostyle{
    list-style: none;
}

.pre-footer ul li a {
    color: #818181;
    text-transform: uppercase;
    text-decoration: none;
    margin-left: -50px;
}

.pre-footer ul li a:before {
    content: "";
    display: inline-block;
    margin-right: 5px;
    width: 15px;
    height: 11px;
}

.pre-footer .icons a {
    margin-right: 5px;
    color: #818181;
}

.pre-footer .icons a i {
    font-size: 28px;
}

.footer {
    background-color: #111618;
    text-align: center;
    color: #fff;
}

.footer p {
    position: relative;
    top: 18px;
    color: rgb(179, 179, 179);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
}

.footer .footer-menu {
    list-style: none;
    margin-left: 8em;
}

.footer .footer-menu li {
    display: inline-block;
    margin-left: 10px;
    margin-top: 15px;
}

.footer .footer-menu li a {
    color: #707374;
    text-transform: uppercase;
    text-decoration: none;
}
